# .coveragerc

[run]
# Исходные файлы, которые нужно анализировать (не обязательно, но полезно)
source = .
# НЕ анализировать файлы, соответствующие этим шаблонам
omit =
    # Исключаем все файлы в директории tests/
    tests/*
    # Исключаем главный файл запуска, если он есть
    loader.py
    process_cached.py
    read_xml.py
    receiver.py
    save_to_pocketbase.py
    # Исключаем код, установленный в виртуальное окружение
    *.venv*

[report]
# Эта опция не исключает файлы из анализа, а только из отчета.
# Полезна для исключения по содержимому.
exclude_lines =
    # Стандартная прагма для исключения строки
    pragma: no cover
    # Не включать в отчет строки, содержащие 'raise NotImplementedError'
    raise NotImplementedError
    # Исключить объявления абстрактных методов
    @abstractmethod

# Вы также можете использовать 'omit' здесь, если хотите,
# чтобы файлы были проанализированы, но не попали в финальный отчет.
# omit =
#     tests/*